.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background-color: #092039;
  color: #ffffff;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
}

.logo-img {
  height: 48px;
  width: auto;
}

.bar-content {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
  justify-content: flex-end;
}

.spacer {
  flex-grow: 1;
}
.salir{
  display: inline-flex;
  align-items: center;
  gap: 8px; /* Espacio entre texto e ícono */
  align-items: anchor-center !important;
}



button.mat-icon-button {
  color: #fff !important;
}
button.btn-salir {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  width: auto;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 600px) {
  .header-bar {
    flex-direction: column;
    height: auto;
    padding: 1em;
    text-align: center;
  }

  .bar-content {
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
  }

  .logo-img {
    height: 32px;
  }



}