<div class="layout">
  <app-header></app-header>

  <div class="layout-main">
    <div class="sidebar-container">
      <app-sidebar></app-sidebar>
    </div>

    <div class="content-container">
      <h5 class="titulo mb-3">Actualización Datos Unidad</h5>

      <div class="chip-direccion">
        <img src="/../icono-informacion-unidadaes.svg" alt="Icono de filtro" class="btn-icon">
        <span class="texto">---</span>
      </div>

      <ul class="tabs">
        <li (click)="go('informacion-general')">
          <!-- patrón normal/hover como en 'Mi Unidad' -->
          <img class="icon-normal" src="/icono-instituciones.svg" alt="Información General">
          <img class="icon-hover"  src="/icono-instituciones-hover.svg" alt="Información General">
          <span>Información General</span>
        </li>

        <li (click)="go('energeticos')">
          <img class="icon-normal" src="/icono-servicios.svg" alt="Energéticos">
          <img class="icon-hover"  src="/icono-servicios-hover.svg" alt="Energéticos">
          <span>Energéticos</span>
        </li>

        <li (click)="go('sistemas')">
          <img class="icon-normal" src="/icono-inmuebles.svg" alt="Sistemas">
          <img class="icon-hover"  src="/icono-inmuebles-hover.svg" alt="Sistemas">
          <span>Sistemas</span>
        </li>

        <li class="active">
          <img class="icon-normal" src="/icono-instituciones.svg" alt="Actualización Datos Unidad">
          <img class="icon-hover"  src="/icono-instituciones-hover.svg" alt="Actualización Datos Unidad">
          <span>Actualización Datos Unidad</span>
        </li>
      </ul>

      <hr class="separator" />

      <div class="panel blanco">
        <p class="placeholder">Pantalla de actualización de datos de Unidad</p>
      </div>

      <div class="acciones mt-3">
      <!--<a class="btn btn-secondary" [routerLink]="['/home-unidades/mi-unidad', id]">Volver</a>-->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
