.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-main {
  display: flex;
  flex: 1;
}



.content-container {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background: #fff;
}

